.main-information
  - if current_page?(logout_index_path)
    .main-information__logout-btn
      = link_to "ログアウト", "/"
  - if current_page?(pay_index_path)
    .main-information__payTop
      %h2 支払い方法
    .main-information__payMiddle
      %p クレジットカード一覧
      .main-information__payMiddle__credit-AdditionBtn
        .main-information__payMiddle__credit-AdditionBtn__contents
          = icon("far", "credit-card")
          = link_to "クレジットカードを追加する", "#"
